{% extends 'base1.html' %}

{% block title %}
List of various committees - IIT(BHU)
{% endblock %}

{% block home %}
	<li class="">
{% endblock %}


{% block institute %}
	<li class="active dropdown">
{% endblock %}


{% block academics %}
	<li class="dropdown">
{% endblock %}


{% block admissions %}
	<li class="dropdown">
{% endblock %}


{% block central %}
	<li class="dropdown">
{% endblock %}


{% block news %}
	<li class="dropdown">
{% endblock %}


{% block alumni %}
	<li class="">
{% endblock %}


{% block tender %}
	<li class="">
{% endblock %}


{% block contact %}
	<li class="">
{% endblock %}

{% block heading %}
         LIST OF VARIOUS COMMITTEES AT INSTITUTE LEVELl
{% endblock %}

{% block body %}
{% endblock %}