{% extends 'base1.html' %}

{% block title %}
Right To Information - IIT(BHU)
{% endblock %}

{% block home %}
	<li class="">
{% endblock %}


{% block institute %}
	<li class="active dropdown">
{% endblock %}


{% block academics %}
	<li class="dropdown">
{% endblock %}


{% block admissions %}
	<li class="dropdown">
{% endblock %}


{% block central %}
	<li class="dropdown">
{% endblock %}


{% block news %}
	<li class="dropdown">
{% endblock %}


{% block alumni %}
	<li class="">
{% endblock %}


{% block tender %}
	<li class="">
{% endblock %}


{% block contact %}
	<li class="">
{% endblock %}

{% block heading %}
        Right To Information(RTI)
{% endblock %}



{% block body %}
	<ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">Procedure for RTI Information</a></li>
      <li><a data-toggle="pill" href="#menu1">RTI Act.-2005</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Some content.</p>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Some content in menu 1.</p>
      </div>
    </div>
{% endblock %}