{% extends '../dept/department.html' %}

{% block description %}

<p style="width:75%;text-align:left"><strong>The department was selected by the Ministry of Communications and Information Technology as a node in the National endeavor on Technology Development for Indian Languages.</strong></p>


{% endblock %}


{% block info %}

<h2>About the Department</h2>
<img style="float:left" src="/static/images/blog/ec_home2.jpg"></img>
<p>Department of Electronics Engineering came into existence as an offshoot of Electrical Engineering Department in the year 1971 (when Banaras Engineering College, College of Mining and Metallurgy and College of Technology had been amalgamated to form the Institute of Technology in its present form). The intake every year of the Department is 50 in the B.Tech. level and 35 in the M.Tech. level. Besides teaching students of our own discipline (Electronics Engineering), we also offer the basic courses in Electronics Engineering to almost all the Departments of the Institute of Technology, we also teach advanced-level courses to the students of Electrical Engineering and Computer Engineering Departments. We have a training and placement section in the Institute through which most of our students are professionally placed in various jobs.</p>
<p>Our current priority areas of specialization are (i) Communication Systems Engineering (ii) Digital Techniques & Instrumentation (iii) Microwave Engineering and (iv) Microelectronics. We are accordingly, running a doctoral programme under which about 8-10 research scholars would obtain their Ph.D. degree, every year, in these thrust areas. A mention may be made about the external Ph.D. Registration Scheme of the University under which at a time there would be on an average 4-5 Scientists of National Laboratories registered for their Ph.D. degree. Presently, we have 19 teachers (Professors-8, Readers-4 and Lecturers-7) out of the sanctioned strength of 27. Besides, we have now 4 Scientist/Scientific Officers in the Department working at various Centres of the Department.</p>
{% endblock %}