{% extends '../dept/department.html' %}

{% block description %}

<p style="width:75%;text-align:left"><strong></strong></p>


{% endblock %}


{% block info %}

<h2>About the Department</h2>
<p>The Department of Electrical Engineering, Banaras Hindu University was Established in year 1919, and can take pride in itself as one of the oldest institutions in the country dedicated to the task of advance training of engineers in the field of Electrical Sciences. From 1949, a separate undergraduate programme in Electrical Engineering is being offered. The following postgraduate courses were progressively introduced.</p>

<ul style="circle">
  <li>Electrical Machines and Drives (1957)</li>
  <li>Power Systems (1964)</li>
  <li>Control Systems Engineering (1964)</li>
  <li>Power Electronics (1982)</li>
  <li>Systems Engineering (inter-disciplinary) (1982)</li>
</ul>
<br><br>
<h2 style="font-size:1.4em">Objectives:</h2>
<p>The Department is pursuing academic activities with the following goals and objectives:</p>
<ul style="circle">
  <li>Further up-gradation and technological modernisation of infrastructural facilities.</li>
  <li>Encouraging teaching innovations through audio visual aids, computer interfaced projection etc.</li>
  <li>Channelising expertise of faculty in the direction of:</li>
</ul><br>
<p>1.Computer Aided Design</p>
<p>2.Real Time Control and related data acquisition systems and microprocessor based instrumentation</p>
<p>3.Development of application software.</p><br>
<ul style="circle">
  <li>Testing and Consultancy</span></li>
  <li>Training the undergraduate and post graduate students towards enterprenuership in consonance with liberalization and privatization policies of the Government.</li>
  <li>Developing energy efficient, environment – friendly electrical technologies as per the direction of Department of Science and Technology for 21st century</li>
</ul>

{% endblock %}