{% extends '../dept/department.html' %}

{% block description %}

<p style="width:75%;text-align:left"><strong>Welcome to the Department of Civil Engineering</strong></p>


{% endblock %}


{% block info %}

<h2>About the Department</h2>
<p>The Civil Engineering Department was established in 1949 (then known as Civil and Municipal Engineering) in BENCO (Banaras Engineering College) which was a part of BHU. The formal sanction of the Visitor of the University to create this Dept. was received in 1956 and the B.Sc Engineering (Civil & Municipal) Degree was recognized by the Govt. of India in 1958. The department was rechristened to the present name in the year 1975. Presently, it caters its student with various Post Graduate courses like Environmental Engineering, Geotechnical Engineering, Hydraulic Engineering, Structural Engineering, and Transportation Engineering.</p>
<p>The department has taken up various research programmes apart from regular teachings and the research activities, namely CSIR, UGC, SAP, HUDCO, DST and AICTE. It has a created cooperation with industries to work for the various tasks given by Govt., Semi-Govt. and other Private organisations. It is particularly dedicating in providing solutions to the people of the country with technical solutions and guidelines. It conducts short-term courses, training courses, seminars, workshops and conferences for enrichment in quality of students and entrepreneurs. The department has its own Civil Engineering Society which is dedicated in organising lectures by various experts in their respective field, group discussions, competitions, sports and various other extra-curricular and cultural activities so that there would be an holistic all round development of students. Also this society conducts a separate fest for the Civil Engineering Students, known as, Shilp.</p>
<p>Various lab facilities are provided to students here. The labs here are Structural Engineering, Transportation Engineering, Geotechnical Engineering, Environmental Engineering, Hydraulics and Surveying & Geo-informatics. It has its own separate computer lab and dept. library. Also there is a Ganga Laboratory that tackles the problems related to Pollution in river Ganges, Flood Control and various other issues related to river Ganga. Apart from that there is Seminar Hall and R.H.D Centre.</p>
{% endblock %}


