{% extends 'dept_base2.html' %}

{% block title %}
    Notifications - {{ department.dept_name }}
{% endblock %}

{% block people %} 
<li class="dropdown">
{% endblock %}

{% block activities %} 
<li class="active dropdown">
{% endblock %}

{% block body %}
    <div style="padding-bottom: 10px;">
        <h2 >Notification:</h2>
    </div>

    {% if slug %}
         <table id="id_list_table" class="table">
            <tr><td align="centre">{{ notification.title }}</td></tr>
            <tr><td align="right">{{ notification.date }}</td></tr>
            <tr><td>{{ notification.desc }}</td></tr>
            <tr><td>{{ notification.notif_doc }}</td></tr>
            <tr><td>
                <div class="container">
                    <div class="row">
                    <a class="btn btn-primary view-pdf" href="/media/{{ notification.notif_doc }}">View PDF</a>        
                    </div>
                </div>
                <!-- <a href="/static/js/ViewerJS/#../media/documents/CS/2015_July_admitted_MTech.pdf">Click Here</a>
                <iframe src = "/static/js/ViewerJS/#../media/documents/CS/2015_July_admitted_MTech.pdf" width=100% height=100% allowfullscreen webkitallowfullscreen></iframe> -->
            </td></tr>
         </table>
    {% else %}
        {% for notification in notifications  %}
            <li><a href="{{ notification.slug }}"/>{{ notification.title }}
        {% endfor %}
    {% endif %}
{% endblock %}
